name: 02 0 Workflows Events

on:
  push:
  pull_request:
  schedule:
    - cron: '*/5 * * * *'

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "I've been triggered by a(n) ${{ github.event_name }} event"