name: 10 - Controlling the Executions Flow

on:
    push:
    workflow_dispatch:
        inputs:
          pass-unit-tests:
            type: boolean
            description: Whether unit tests will pass or not
            default: true
jobs:
    lint-build:
      runs-on: ubuntu-latest
      steps:
        - name: Lint and build
          run: echo "Linting and building..."

    unit-tests:
      runs-on: ubuntu-latest
      steps:
        - name: Run unit tests
          run: "Run unit tests..."
        - name: Failing tests
          if: ${{ !inputs.pass-unit-tests }}
          run: exit 1

    deploy-nonprod:
        runs-on: ubuntu-latest
        needs: 
          - lint-build
          - unit-tests
        steps:
          - name: Deploying to nonprod
            run: echo "Deploying to non-production environment..."

    e2e-tests:
        runs-on: ubuntu-latest
        needs: deploy-nonprod
        steps:
          - name: Run E2E tests
            run: echo "Running end-to-end tests..."
    load-tests:
        runs-on: ubuntu-latest
        needs: deploy-nonprod
        steps:
          - name: Run Load tests
            run: echo "Running load tests..."

    deploy-prod:
        runs-on: ubuntu-latest
        needs: 
            - load-tests
            - e2e-tests  
        steps:
          - name: Deploy to production
            run: echo "Deploying to production environment..."